header {
  position: absolute;
  width: 100%;
  z-index: 5;
}

nav {
  padding: 0 20px 0 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  height: 62px
}

nav a {
  margin-right: 24px;
  
  font-size: 16px;
  text-decoration: none;
  font-weight: 600;
  color: #FF4747;
  text-shadow: 1px 1px 12px #565656;
  
  transition: color 2s ease;
}

nav button {
  height: 38px;
  width: 100px;
  
  border: none;
  border-radius: 10px;
  font-weight: 800;
  font-size: 17px;
  background-color: #FF4747;
  color: #272727;
  transition: color 2s ease;
  transition: background-color 2s ease;
  cursor: pointer;
}

.strech-div {
  flex: 1;
}


.nav_links, .nav_links2 {
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
}


.nav_links:hover, .nav_links2:hover {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px); 
}


@media(max-width: 550px) {
  .logo {
  height: 48px
  }
  
  nav a {
    margin-right: 10px;
    font-size: 12px;
  }
  
  nav button {
    height: 32px;
    width: 88px;
    font-size: 14px;
   }
  
}